<ul class="book-list" id="collection-list">
	<li class="clearfloat" ng-repeat="obj in collection" comicId="{{obj.comicId}}">
		<div class="del-warp">
			<div class="book-del-box"><div class="checkbox" ng-click="checkStatus($event)"></div></div>
		</div><div class="book-detial-box">
				<div class="imgCollection" style="background-image: url({{obj.cover}});"></div>
				<div class="detial-box">
					<span class="book-name">{{obj.name}}</span>
					<span class="book-info">未读</span>
					<span class="book-info">更新至 {{obj.lastUpdateChapterName}}</span>
					<span class="book-updateTime">{{getUpdateTime(obj.lastUpdateTime)}}</span>
				</div>
				<a href="" class="readmore">开始阅读</a>
			</div>
	</li>
</ul>
