#home{width: 100%;height: 100%;overflow-x: hidden;overflow-y: auto;background-color: #f0ebf1;}
#homeheader{height: 1.44rem;background: url(img/header_bg_repeat.jpg) repeat;}
#logo{float: left;width: 2.64rem;height: 100%;background: url(img/u17_logo.png) no-repeat left center;background-size: auto 102%;margin-left: 0.25rem;}
#iconheader{float: right;height: 100%;margin-right: 0.25rem;}
#iconheader>a{height: 100%;background: url(img/icon_index_tools.png) no-repeat left center;background-size: auto 0.9rem;width: 0.9rem;margin-left: 0.5rem;float: left;height: 0.9rem;margin-top: 6%;}
#iconheader>a#bookrackheader,#iconheader>a.login-book{width: 1.12rem;background-position-x: -1.8rem;}
#iconheader>a#searchheader{background-position-x: -3.98rem;}
#mainhome{padding: 0.1px 2% 0;}
.topmargin{margin-top: 0.2777rem;}
#swiperdiv{height: 5rem;}
.swiper-container{width: 100%;height: 100%;}
#swiperdiv img,#swiperdiv a{width: 100%;height: 100%;position: relative;}
#swiperdiv a>p{position: absolute;bottom: 0.3333rem;left: 4.5%;color: #fff;font-family: "宋体";}
#swiperdiv a>span{position: absolute;bottom: 0.3333rem;right: 4.5%;color: #fff;font-family: "宋体";font-size: 1rem;}
#swiperdiv img{border: 0.15625rem solid white;border-radius: 0.25rem;}
#homenav{background: url(img/header_bg_repeat.jpg) repeat;height: 1.06rem;padding: 0 0.14rem;border-radius: 0.25rem;}
#navwarp{width: 100%;height: 100%;border-radius: 0.25rem;background: url(img/nav.png) no-repeat center center;background-size: 88% 80%;}
#homenav a{float: left;width: 25%;height: 100%;}
/*#pubu{position: absolute;left: 0;top: 200px;}*/
#puleft{float: left;width: 50%;}
#puright{float: right;width: 50%;}
.box{width: 96%;background-color: #fff;padding: 0.14rem;border-radius: 0.25rem;margin-bottom: 0.25rem;}
.box img{width: 100%;height: auto;}
.titp,.desp{margin: 0.083333rem 0 0 0.14rem;}
.desp{color: #999;font-size: 0.389rem;}
#retotop{position: fixed;right: 0;bottom: 10%;width: 1.3889rem;height: 1.3889rem;background: url(img/back_top.png) no-repeat center center;background-size: 100% auto;z-index: 999;display: none;}
